<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>A productive web framework that<br/>does not compromise speed or maintainability.</p>
</section>

<section class="row">
  <article class="column">
      <%= link "Push state demo", to: Routes.live_path(@conn, PhoenixOneFourWeb.PushStateDemoLive) %>
  </article>
</section>
